/* Section info container*/
.info-container{
    padding: 30px;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.info-container ul, li{
    padding: 10px;
    list-style: none;
}

.info-container img{
    height: 100px;
} 

h2 {
    text-align: center;
}

#calculatora {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input, button {
    display: block;
    margin-bottom: 15px;
}

input[type="number"], button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #0E9CD6; 
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

